@page "/cases/create"

@inject HttpClient http
@inject NavigationManager navmgr

<h3>Add new Case</h3>
<ProfileForm Person="@Persons" ButtonText="Create" OnValidSubmit="@CreateCase" />

@code {

    PersonProfilesModel Persons = new PersonProfilesModel();

    async Task CreateCase()
    {
        Persons.PersonStatus = "P";
        await http.PutJsonAsync("https://pegasusapiagent.azurewebsites.net/api/Person", Persons);
        navmgr.NavigateTo("/cases");
    }
}