@page "/cases/edit/{personId:int}"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navmgr
@using Syncfusion.Blazor.BarcodeGenerator
<h3>Edit Person</h3>
@*@if (brgymodel.QrCode != null)
    {
        <EjsQRCodeGenerator Width="200px" Height="150px" Value="@brgymodel.QrCode">
            <QRCodeGeneratorDisplayText text="QR Code"></QRCodeGeneratorDisplayText>
        </EjsQRCodeGenerator>
    }*@


<CaseForm Person="@personModel" ButtonText="Save" OnValidSubmit="@EditPerson" />

@code {
    [Parameter] public int personId { get; set; }
    PersonProfilesModel personModel = new PersonProfilesModel();



    protected async override Task OnInitializedAsync()
    {
        personModel = await http.GetFromJsonAsync<PersonProfilesModel>($"https://pegasusapiagent.azurewebsites.net/api/Person/" + personId);
    }

    async Task EditPerson()
    {
        await http.PutAsJsonAsync("https://pegasusapiagent.azurewebsites.net/api/Person", personModel);

        navmgr.NavigateTo("/cases/"+ personModel.BgryId);
    }

}

