@page "/cases/{brgyId:int}"
@attribute [Authorize]
@inject HttpClient http
@inject IJSRuntime js

@inject NavigationManager navmgr

<center><h1>Cases</h1></center>

@if (person == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-12">

        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="20"
                    AllowSorting="true" Data="@person" TItem="PersonProfilesModel" ColumnWidth="200px">
            <Columns>

                <RadzenGridColumn TItem="PersonProfilesModel" Width="150px" Property="CaseNo" Title="CaseNo" />
                <RadzenGridColumn TItem="PersonProfilesModel" Width="150px" Property="Age" Title="Age" />
                <RadzenGridColumn TItem="PersonProfilesModel" Width="150px" Property="Gender" Title="Sex" />
                <RadzenGridColumn TItem="PersonProfilesModel" Filterable="false" Property="Barangay.BarangayName" Title="Barangay" />
                <RadzenGridColumn TItem="PersonProfilesModel" Width="150px" Filterable="false" Property="DateLabConfirm" Title="Laboratory Confirmation" />
                <RadzenGridColumn TItem="PersonProfilesModel" Width="150px" Filterable="false" Property="History.Remarks" Title="History/Status" />
                <RadzenGridColumn TItem="PersonProfilesModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="person">
                
                        <RadzenButton Icon="person_search" Size="ButtonSize.Medium" Click="@(args =>  ViewContact(person))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>

}


@code {

    List<PersonProfilesModel> person = new List<PersonProfilesModel>();
    [Parameter] public int brgyId { get; set; }

    protected override async Task OnInitializedAsync()

    {
        //person = await http.GetFromJsonAsync<List<PersonProfilesModel>>($"https://pegasusapiagent.azurewebsites.net/api/Person");
        person = await http.GetFromJsonAsync<List<PersonProfilesModel>>($"https://localhost:44326/api/Person");
        person = person.Where(x => x.BgryId == brgyId).ToList();
    }

    //void EditRow(PersonProfilesModel persn)
    //{
    //    navmgr.NavigateTo("/cases/edit/" + person.Id);
    //}
    void ViewContact(PersonProfilesModel person)
    {
        navmgr.NavigateTo("/cases/contactedperson/" + person.Id);
    }

}
