@page "/cases/create"

@inject HttpClient http
@inject NavigationManager navmgr

<h3>Add New Case</h3>
<CaseForm Person="@Persons" ButtonText="Create" OnValidSubmit="@CreateCase" />

@code {

    PersonProfilesModel Persons = new PersonProfilesModel();

    async Task CreateCase()
    {
        await http.PutAsJsonAsync("https://pegasusapiagent.azurewebsites.net/api/Person", Persons);
        navmgr.NavigateTo("/");
    }
}