@page "/cases/contactedperson/{contactId:int}"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navmgr

    <div class="col-12">
        <RadzenCard Style="width:200px;">
            <div class="row">
                <div class="col-md-6">
                    <RadzenImage Path="images/person.png" Style="width:100px;" />
                </div>

                <div style="margin-top:20px">
                    Case No : &nbsp;
                    <b>@personModel.CaseNo</b>
                </div>

            </div>

        </RadzenCard><br />

        <div class="col-5">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Add New Contact" ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2" Click="AddContact" />
        </div>
   </div>
    <br />
    @if (person == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="col-12">

            <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="20"
                        AllowSorting="true" Data="@person" TItem="PersonProfilesModel" ColumnWidth="200px">
                <Columns>

                    <RadzenGridColumn TItem="PersonProfilesModel" Property="CaseNo" Title="CaseNo" />
                    <RadzenGridColumn TItem="PersonProfilesModel" Filterable="false" Property="Barangay.BarangayName" Title="Barangay" />
                </Columns>
            </RadzenGrid>
        </div>

    }

    @code {

        List<PersonProfilesModel> person = new List<PersonProfilesModel>();

        [Parameter] public int contactId { get; set; }

        PersonProfilesModel personModel = new PersonProfilesModel();

        protected async override Task OnParametersSetAsync()
        {

            //personModel = await http.GetFromJsonAsync<PersonProfilesModel>($"https://pegasusapiagent.azurewebsites.net/api/Person/" + contactId);
            personModel = await http.GetFromJsonAsync<PersonProfilesModel>($"https://localhost:44326/api/Person/" + contactId);

        }
        protected override async Task OnInitializedAsync()
        {
            await LoadContactedPerson();

        }

        async Task LoadContactedPerson()
        {
            //person = await http.GetFromJsonAsync<List<PersonProfilesModel>>($"https://pegasusapiagent.azurewebsites.net/api/Contacts/" + contactId);
            personModel = await http.GetFromJsonAsync<PersonProfilesModel>($"https://localhost:44326/api/Contacts/" + contactId);
        }
        void AddContact()
        {
            navmgr.NavigateTo("cases/createcontact/" + personModel.Id);
        }

    }

