@page "/"


<h1>Welcome to Pegasus Pandemic Watch.</h1>


<MatSnackbar @bind-IsOpen="@lazySnackbarIsOpen">
    <MatSnackbarContent>Welcome to Pegasus Pandemic Watch.</MatSnackbarContent>
   
</MatSnackbar>

@code{
    bool lazySnackbarIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(TimeSpan.FromSeconds(3)).ContinueWith((_) =>
        {
            this.lazySnackbarIsOpen = true;
        });
    }

    public void Dispose()
    {
    }
}
