<h3>Agents</h3>
@page "/maintenance/agents"
@inject HttpClient http
@inject IJSRuntime js
@inject NavigationManager navmgr
<a class="btn btn-success" href="/maintenance/agents/create">Create New</a>
<br />

@if (agentmodel == null)
{
    <p><em>Loading...</em></p> }
else
{
    <div class="col-10">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="20"
                    AllowSorting="true" Data="@agentmodel" TItem="AgentModel" ColumnWidth="200px">
            <Columns>
                <RadzenGridColumn TItem="AgentModel" Property="PIN" Title="PIN" />
                <RadzenGridColumn TItem="AgentModel" Property="Fullname" Title="Fullname" />
                <RadzenGridColumn TItem="AgentModel" Property="Department" Title="Department" />
                <RadzenGridColumn TItem="AgentModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="agent">
                        <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args =>  EditRow(agent))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>


            </Columns>
        </RadzenGrid>
    </div>
}

@code {
    List<AgentModel> agentmodel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAgents();
    }

    async Task LoadAgents()
    {
        //agentmodel = await http.GetJsonAsync<List<AgentModel>>("https://pegasusapiadmin.azurewebsites.net/api/Barangay");
        agentmodel = await http.GetJsonAsync<List<AgentModel>>("https://pegasusapiadmin.azurewebsites.net/api/Agent");

    }
    void EditRow(AgentModel agent)
    {
        navmgr.NavigateTo("/maintenance/agents/edit/" + agent.Id);
    }

}
