@page "/maintenance/agents/edit/{agentId:int}"
@inject HttpClient http
@inject NavigationManager navmgr

<h3>Edit Agent</h3>
<b>PIN: @agentModel.PIN</b>
<AgentForm agentModel="@agentModel" ButtonText="Save" OnValidSubmit="@EditBrgy" />

@code {
    [Parameter] public int agentId { get; set; }
    AgentModel agentModel = new AgentModel();

    protected async override Task OnParametersSetAsync()
    {
        //brgymodel = await http.GetJsonAsync<Pegasus.Models.Maintenance.BarangayModel>($"https://pegasusapiadmin.azurewebsites.net/api/Barangay/" + brgyId);
        agentModel = await http.GetJsonAsync<AgentModel>($"https://pegasusapiadmin.azurewebsites.net/api/Agent/" + agentId);
    }

    async Task EditBrgy()
    {
        //await http.PutJsonAsync("https://pegasusapiadmin.azurewebsites.net/api/Barangay", agentId);
        await http.PutJsonAsync("https://pegasusapiadmin.azurewebsites.net/api/Agent", agentId);
        navmgr.NavigateTo("/maintenance/agents");
    }
}

