@page "/maintenance/agents/create"
@inject HttpClient http
@inject NavigationManager navmgr

<h3>Create new Agent</h3>
<AgentForm agentModel="agentModel" ButtonText="Create" OnValidSubmit="@CreateAgent" />

@code {

    AgentModel agentModel = new AgentModel();

    async Task CreateAgent()
    {
        //await http.PostJsonAsync("https://pegasusapiadmin.azurewebsites.net/api/Barangay", brgymodel);
        await http.PutJsonAsync("https://pegasusapiadmin.azurewebsites.net/api/Agent", agentModel);
        navmgr.NavigateTo("/maintenance/agents");
    }
}
