<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Pegasus.Agents.Client.Shared.MainLayout)">
            <Authorizing>
                Authotizing...
            </Authorizing>
            <NotAuthorized>
                <Pegasus.Agents.Client.Shared.RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(Pegasus.Agents.Client.Shared.MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>