@page "/"
<div class="col-12">
    <div class="row">
        <Radzen.Blazor.RadzenCard>



           
                <a href="brgymap">  <Radzen.Blazor.RadzenButton Text="Barangay Map" href="" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" /></a>
      
          

        </Radzen.Blazor.RadzenCard>
        <Radzen.Blazor.RadzenCard>


                <a href="cases">  <Radzen.Blazor.RadzenButton Text="Cases" href="" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" /></a>
       
        </Radzen.Blazor.RadzenCard>

    </div>
</div>