@page "/"
@inject NavigationManager navmgr

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>Not Logged In</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    string userName = "admin";
    string password = "admin";

    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    void Login(LoginArgs args, string name)
    {
        navmgr.NavigateTo("/brgymap");
    }


}